<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, td, th{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body style="background-color: pink">
    <form method="post">
        <h1>Customer  details</h1>
        <button type="submit">Submit</button>
        {% csrf_token %}
        <div style="height: 100%; width: 600px; margin: auto; border: 1px solid black;">
            
            <table style="width: 100%">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>AGE</th>
                    <th>Images</th>
                   
                    
                    
                </tr>

                {% for cus in cus %}
                <tr>
                    <td>{{cus.id}}</td>
                    <td>{{cus.name}}</td>
                    <td>{{cus.address}}</td>
                    <td>{{cus.city}}</td>
                    <td>{{cus.age}}</td>
                    <td><img src="/media/{{cus.pic}}" alt="smile" width="80" height="80" class="round-circle"></td>
                    
                    
                </tr>
                {%endfor%}
            </table>
        </div>
    </form>
</body>
</html>